@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>MALAK SOHAIL NASAR  3831-FBAS/BSSE/F18-B.</p>
    <p>SOHAIL AHMAD  3779-FBAS/BSSE/F18-B.</p>
    <p>IZAZ HUSSAIN  3876-FBAS/BSSE/F18-C.</p>
</div>
